.diplay-jobs-card{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(70, 65, 65);
    list-style: none;
    margin-bottom: 15px;
    color: white;
}
.logo-rating-cont{
    display: flex;
}
.title-rating-cont{
    margin-left: 15px;
}
.location-emptype-ppa-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}